<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated studentSample -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="studentSample.presentation.StudentSampleModelWizardID"
            name="%_UI_StudentSampleModelWizard_label"
            class="studentSample.presentation.StudentSampleModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StudentSampleModelFile.gif">
         <description>%_UI_StudentSampleModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated studentSample -->
      <editor
            id="studentSample.presentation.StudentSampleEditorID"
            name="%_UI_StudentSampleEditor_label"
            icon="icons/full/obj16/StudentSampleModelFile.gif"
            extensions="studentsample"
            class="studentSample.presentation.StudentSampleEditor"
            contributorClass="studentSample.presentation.StudentSampleActionBarContributor">
      </editor>
   </extension>

</plugin>
